- provide(:title, @user.name)
.row
  .col
  %aside.user_info
    %h1
      = @user.name
  .col
  - if @user.campaigns.any?
    %h3
      My Campaigns (#{@user.campaigns.count})
    %ol.campaigns
      = render @campaigns
  .col
  - if @user.donations.any?
    %h3
      My Donations (#{@user.donations.count}) 
    %ol.campaigns
      = render @user.donations
      -# = @user.get_my_donations(@user)
  .col
  - if @user.donations.any?
    %h3
      Donated Amount
    %ol.campaigns
      =@user.get_donated_amount(@user)
  .col
  - @users = @user.funds_collected_from(@user)
  - if @users.any?
    %h3
      Funds Collected From (#{@users.count})
    %ol.campaigns
      = @users




    -# render @campaigns will render _micropost.html for each micropost it has and send id default.
 





    -# render @campaigns will render _micropost.html for each micropost it has and send id default.
 


