%body
  %header.navbar.navbar-fixed-top.navbar-inverse
    .container
      = link_to "ORGANIZATION", root_path, id: "logo"
      %nav
        %ul.nav.navbar-nav.navbar-right
          %li= link_to "Home", root_path
          %li= link_to "About", about_path
    
          - if logged_in?
            -# %li= link_to "All Campaigns", campaigns_path
            %li.dropdown
              %a.dropdown-toggle{"data-toggle" => "dropdown"}
                Campaigns
                %b.caret
              %ul.dropdown-menu
                -# %li= link_to "Kids campaigns", current_user
                -# %li= link_to "poor and needy campaigns", current_user 
                -# %li= link_to "Aged people campaigns", current_user
                %li= link_to "All Campaigns", campaigns_path
            %li.dropdown
              %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                Account
                %b.caret
              %ul.dropdown-menu
                %li= link_to "My Campaigns", current_user
                %li= link_to "My Donations", donations_user_url(current_user)
                %li.divider
                %li
                  = link_to "Log out", logout_path, method: :delete
          - else
            %li= link_to "Log in", login_path
